#activityLog {
    .activity__list {
        list-style: none;
        padding: 0;
        max-height: 176px;
        overflow-y: auto;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        padding: 10px 0;
    
        &.header {
            background-color: none;
            color: var(--app-color);
            // font-weight: 600;
        }
    
        &.item {

    
        }
    }
}

#accountActions {
    >div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "deleteAccount deleteAccount deleteAccount";
        padding: 10px 0 0 0;
    
        &.header {
            background-color: none;
            color: var(--app-color);
            // font-weight: 600;
        }
    }
}