@import '../App/Theme.scss';

.navbar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--app-bgcolor-secondary) !important;
    z-index: 1000;

    .menubar {
        max-width: 1420px;
        width: 100% !important;

        > .menu-item {
            cursor: pointer;
            height: 100% !important;
            transition: all 0.2s ease-in-out;
        }
    }
}


#logo {
    cursor: default;

    > img {
        margin: -6px 0px !important;
        width: 32px;
        height: 32px;
        object-fit: cover;
    }
}

.dropdown {
    > .menu {
        width: 200px;
        padding: 10px 10px !important;
        background-color: var(--app-bgcolor-secondary) !important;

        > .item {
            align-items: left !important;
            color: var(--app-color) !important;
        }
    }

    span {
        font-size: 14px !important;
    }

    > i {
        font-size: 1.5em;
    }

    .text {
        color: var(--app-color) !important;
    }
}

.sidebar,
.dropdown {
    .item {
        align-items: left !important;

        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        div > img {
            filter: invert(1);
            width: 24px;
            height: 24px;
            object-fit: cover;
        }

        span {
            color: var(--app-color) !important;
            padding: 0 20px;
            font-size: 16px;
        }
    }
}

// Adjust Nav when window size reduced
#sidebarBtn {
    display: none;
}
@media (max-width: 1300px) {

    #sidebarBtn {
        display: block;
    }

    .menu-item {
        display: none !important;
    }
}
