@import '../App/Theme.scss';

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--app-bgcolor-secondary) !important;
    z-index: 1000;

    .menubar {
        max-width: 1420px;
        width: 100% !important;

        > .menu-item {
            cursor: pointer;
            height: 100% !important;
            transition: all 0.2s ease-in-out;
        }
    }
}


#logo {
    cursor: default;

    > img {
        margin: -6px 0px !important;
        width: 32px;
        height: 32px;
        object-fit: cover;
    }
}

// Adjust Nav when window size reduced
#sidebarBtn {
    display: none;
}
@media (max-width: 1300px) {

    #sidebarBtn {
        display: block;
    }

    .menu-item {
        display: none !important;
    }
}
