.checkbox label {
    margin-top: 20px;
    color: rgb(41, 41, 63) !important;
}


.form .error .checkbox label {
    color: red !important;
}




/* Custom CSS
_________________________________________________ */

.form ::placeholder {
    color: inherit;
    /*Fix opacity issue on Firefox*/
    opacity: 1;
}

/* Form buttons 
____________________________________________ */